<script type="text/template" id="estudiante">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-estudianteForm">
    <% if(estudiante.id) {%>
    <input type="hidden" name="id" value="<%= estudiante.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Nombre</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Ingrese nombre" value="<%= estudiante.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="creditosAprovados">Creditos Aprovados</label>
    	<input type="text" class="form-control" id="creditosAprovados" name="creditosAprovados" placeholder="Ingrese numero creditos aprovados" value="<%= estudiante.get('creditosAprovados') %>"/>	
		</div>
		<div class="form-group" >
		<label for="codigo">C&oacute;digo</label>
    	<input type="text" class="form-control" id="codigo" name="codigo" placeholder="Ingrese codigo" value="<%= estudiante.get('codigo') %>"/>	
		</div>
		<div class="form-group" >
		<label for="promedio">Promedio</label>
    	<input type="text" class="form-control" id="promedio" name="promedio" placeholder="Ingrese nombre" value="<%= estudiante.get('promedio') %>"/>	
		</div>
		<div class="form-group" >
 
			<label for="tipoidId">Tipo Id</label> 
            <select class="form-control" id="tipoId" name="tipoId">
			  <option value="">Ninguno</option>
            <% tipo.each(function(tipoid) { %> 
              <option value="<%=tipoid.get('id')%>" <% if(estudiante.get('tipoId')==tipoid.get('id')) {%>selected<%}%> ><%=tipoid.get('name')%></option>
            <% }); %>                
            </select>  
		</div>
    </form>
    </div>
</script> 