<script type="text/template" id="experiencia">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-experienciaForm">
    <% if(experiencia.id) {%>
    <input type="hidden" name="id" value="<%= experiencia.id %>"/>
    <% }%>
                <div class="form-group" >
		<label for="titulo">T&iacute;tulo</label>
        
    	<input type="text" class="form-control" id="titulo" name="titulo" placeholder="Ingrese t&iacute;tulo" value="<%= experiencia.get('titulo') %>"/>	
	
            </div>
        
		<div class="form-group" >
		<label for="texto">Texto</label>
        
    	<input type="text" class="form-control" id="texto" name="texto" value="<%= experiencia.get('texto') %>" placeholder="Ingrese texto" style="display:none" />	
        <textArea id="area1" />
            <%= '<scr'+'ipt>' %>
                    CKEDITOR.replace( 'area1' );
                    CKEDITOR.on('instanceReady',function(){
                        var body = CKEDITOR.instances.area1.document.getBody();
                        body.setText("<%= experiencia.get('texto') %>");
                        timer = setInterval(updateInput,100);
                    });
                    function updateInput(){
                        var bod = CKEDITOR.instances.area1.document.getBody();
                        var text = bod.getText();
                        $('#texto').val(text);
                    }

            
                <%= '</scr'+'ipt>' %>
            </div>
		<div class="form-group" >
		<label for="name">Autor</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Ingrese autor" value="<%= experiencia.get('name') %>"/>	
		</div>
		
		<div class="form-group" >
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fecha"  name="fecha" placeholder="Ingrese fecha" style="display:none" />
    		<%= '<scr'+'ipt>' %>
        	$('#fecha').datepicker({autoclose:true});
        	$('#fecha').datepicker('setDate',App.Utils.Converter.date.toDate("<%= experiencia.get('fecha') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
                
                <div class="form-group">
                <%= '<scr'+'ipt>' %>
                
                <%= '</scr'+'ipt>' %>
                </div>
    </form>
    </div>
</script> 