<script type="text/template" id="materiaUniandes">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-materiaUniandesForm">
    <% if(materiaUniandes.id) {%>
    <input type="hidden" name="id" value="<%= materiaUniandes.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Nombre</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Ingrese nombre" value="<%= materiaUniandes.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="codigo">C&oacute;digo</label>
    	<input type="text" class="form-control" id="codigo" name="codigo" placeholder="Ingrese c&oacute;digo" value="<%= materiaUniandes.get('codigo') %>"/>	
		</div>
    </form>
    </div>
</script> 